[Unit]
Description="Gunicorn server for SITENAME"
After=network.target

[Service]
User=ssessner
Restart=on-failure
WorkingDirectory=/home/ssessner/sites/SITENAME/source
ExecStart=/home/ssessner/sites/SITENAME/virtualenv/bin/gunicorn \
	--bind unix:/tmp/SITENAME.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
